aws_region         = "us-east-1"
environment        = "prod"
cluster_name       = "circleguard-eks"
kubernetes_version = "1.30"

node_instance_types = ["t3.medium"]
node_desired_count  = 2
node_min_count      = 1
node_max_count      = 4

gha_subject_patterns = [
  "repo:RonyOz/microservices-circle-guard-dev:*",
  "repo:RonyOz/microservices-circle-guard-ops:*",
]
